{% extends 'base.html' %} 


{% block title %}
  reset password
{% endblock title %}


{% block content %}

<section id="reset">
  <div class="container my-4">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header display-5">
            <div class="card-body">
              <p class="lead text-center">
                Forgot your password? Please enter the email address you used to register
                with us and we will send you a link to reset your password
              </p>
              <form action="" method="post">
                {% csrf_token %}
                {{form}}

                <div class="d-flex justify-content-between">
                  <button type="submit" class="btn btn-dark">send mail</button>
                  <a href="{% url 'index' %}" class="btn btn-success">Go back home</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}